section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  /* padding: 10px; */
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #fff;
}

h2 {
  /* display: flex;
  margin-left: 50px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;

  border-bottom: 1px solid black; */

  text-align: center;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 15px;
  color: #524a4d;
}

.statList {
  width: 370px;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.label {
  font-size: 13px;
  line-height: 2.2;
}

.percentage {
  font-size: 17px;
}
