.transactionHistory {
  width: 550px;

  margin: 30px auto;
}

.transactionHistory th {
  border: 1px solid white;
}

.transactionHistory thead {
  background-color: rgb(27, 188, 220);
}

thead {
  color: white;
}

tbody {
  text-align: center;
  color: gray;
}

td {
  padding: 3px;
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #daddf7;
}

/* table {
  background-color: #ff33cc;
} */
